.archiveheader ul {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.archiveheader ul a {
    text-decoration: none;
    color: #b0b0a6;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.25rem;
}

.archiveheader ul a:hover,
.archiveheader ul a.active {
    color: #e5e5e1;
}
